DB_USERNAME=postgres
DB_PASSWORD=root

RAPIDAPI_KEY=tu_key_rapidapi
RAPIDAPI_HOST=:real-time-amazon-data.p.rapidapi.com

JWT_SECRET=tu_JWT_secret_en_hex_o_base64

#SMTP:
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=tu_username_mailtrap
MAIL_PASSWORD=tu_password_mailtrap
MAIL_FROM=alertas@rastreador.com